@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  background-color: #fff;
}

span.title {
  font-size: 2.5rem;
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'JetBrains Mono', monospace;
  /* font-weight: 900; */
  margin: 1.5rem;
  /* word-spacing: 100px; */
}

span#blinker {
  color: black;
  font-family: sans-serif;
  font-size: larger;
  font-weight: normal;
}


.icon {
  width: 50px;
  height: 50px;
}

#animations {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.animation {
  background-color: rgb(15, 255, 183);
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .5;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
