* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	zoom: 90%;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#main {
	background: #00656e;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	align-items: center;
	/* background: rgb(63, 63, 63); */
}

#main:first-child {
	margin-left: 10vw;
}

#canvasWrapper {
	width: 432px;
	height: 768px;
}

.column {
  display: flex;
  flex-direction: column;
	
	
	text-align: center;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
}

#score {
	flex-basis: 100%;
	flex: 1;
	width: 100%;
}
